<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143623115493-u28vf3tsdke7icrrinnjmlrdm20t3gep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143623115493-u28vf3tsdke7icrrinnjmlrdm20t3gep</string>
	<key>API_KEY</key>
	<string>AIzaSyDVcfiuA2pS8ufMjbXmWpoSN8Cq9PBiwkA</string>
	<key>GCM_SENDER_ID</key>
	<string>143623115493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fyp.VisualMedXpert</string>
	<key>PROJECT_ID</key>
	<string>vmxuserlogin</string>
	<key>STORAGE_BUCKET</key>
	<string>vmxuserlogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143623115493:ios:8bbee3e7d0a5955b56fa0c</string>
</dict>
</plist>